

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #333333;
    padding: 30px;
    border-radius: 10px;
}

.time-display {
    color: #40c437;
    font-family: consolas, monospace;
    font-size: 40px;
}

.btn-container {
    margin-top: 20px;
}

button {
    height: 30px;
    width: 80px;
    background-color: #333333;
    border: none;
    color: #fff;
    font-family: consolas, monospace;
}
